body {
  margin: 0;
  background-color: #F3F3F3;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  font-family: "Helvetica Neue";
}



/* Main layout */

h2 {
  font-size: 16px;
}

p {
  font-weight: normal;
}

.compose input[type="text"] {
  height: 100px;
  width: 100%;
}

.reply input[type="text"] {
  height: 100px;
  width: 100%;
  padding: 12px;
  margin-top: 12px;
}

.card {
  background-color: white;
  background: #FFFFFF;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.02);
  border-radius: 6px;
  padding: 12px;
  height: auto; /* to expand to heigh of children */
}

.card h2 {
  margin-bottom: 8px;
}

.card p {
  margin-bottom: 8px;
}

.nav {
  position: fixed;
  background-color: white;
  height: 45px;
  width: 100%;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.02);

}

.nav .container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.nav .container div {
  display: inline-block;
  position: relative;
  top: 14px;
}

.banner {
  height: 200px;
  width: 100%;
  background-color: #79E27D;
}

.container {
  width: 80%;
  height:100vh;
  margin: 10px auto;
  /* background: orange; */
}

.profile {
  height: 300px;
  width: 230px;
  float: left;
  position: relative;
}

.right-card {
  height: 300px;
  width: 230px;
  float: right;
}

.compose, .feed, .profile-full {
  height: 180px;
  width: calc(100% - 480px);
  margin-left: 240px;
  position: relative;
  top: -60px;
}

.profile-full {
  height: auto;
}

.feed {
  top: -50px;
  height: auto; /* to expand to heigh of children */
}

.feed .post:last-child {
  border-bottom: none;
}

.post {
  border-bottom: 1px solid beige;
  /* background-color: #8080800d; */
  padding: 12px;
  width: 100%;
  min-height: 109px;
  display: table;
}



/* Inside Components */

.nav .logo {
  float: left;
}

.nav .tabs {
  margin: 0 auto;
}

.nav .tabs a {
  border: 2px solid #7CE181;
  color: #7CE181;
  height: 26px;
  margin-left: -7px;
  padding: 6px 24px;
  font-size: 13px;
  text-decoration: none;
}

.nav .tabs a.selected {
  border: 2px solid #7CE181;
  background-color: #7CE181;
  color: white;
  margin-left: -7px;
  padding: 6px 24px;
  text-decoration: none;
}

.nav .tabs .new {
  border-radius: 4px 0 0 4px;
}

.nav .tabs .hot {
  border-radius: 0 4px 4px 0;
}

.nav .version {
  right: 0;
  float: right;
}

.profile h2 {
  font-size: 16px;
  font-family: "helvetica neue";
  margin: 0 0 12px 0;
}

.profile .username {
  text-align: center;
}

.post span {
  color: #94979c;
  font-size: 12px;
}

.post h2 span {
  font-size: 14px;
}

.post .profile-img {
  width: 60px;
  height: 60px;
  background-color: orange;
  border-radius: 100px;

  top: 6px;
  position: absolute;
}

.profile-full .profile-img {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  background-color: orange;
}

.profile-full .description {
  margin-bottom: 45px;
}

.post .text-column {
  display: inline-block;
  padding: 0 12px;
}

.post .count {
  text-align: center;
}

.post .vote-column {
  display: inline-block;
  width: 40px;
  height: 40px;

  /* vertical align */
  display: table-cell;
  vertical-align: middle;
}

.post .vote-column .upvote-btn {
  background-color: blue;
  height: 40px;
  /* width: 100%; */
  display: block;
}

.post .img-column {
  width: 60px;
  display: inline-block;
  margin-right: 16px;
  position: relative; /* for positioning of profile img */

  display: table-cell;
  vertical-align: middle;
}

.profile .profile-img {
  width: 130px;
  height:130px;
  background-color: orange;
  border-radius: 100px;
}

.stats {
  position: absolute;
  bottom: 12px;
  width: 100%;
}

.stats span {
  width: 28.6%;
  display: inline-block;
  margin: 0;
  text-align: center;
}



/* Utilities */
.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.u-img-center {
  display: block;
  margin: auto;
}

.u-align-center {
  margin: auto;
  display: block;
}
